<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PICO_Solder_Weight.My.MySettings.PICO_Solder_WeightConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;|DataDirectory|\PICO Solder Weight.accdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="PICO_Solder_Weight.My.MySettings.SWMaster_dbConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;C:\LF Database\SWMaster_db.accdb&quot;;Jet OLEDB:Database Password=lfswmaster"
            providerName="System.Data.OleDb" />
    </connectionStrings>

	<appSettings>
		<add key="mg" value="2.26"/>
		<add key="OCAP" value="1"/>
	</appSettings>
	
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>